In [1]:
import pandas as pd

cf_df=pd.read_csv("../../data/cf_interactions.csv")

print("DONE")

DONE

In [2]:
cf_df.head()

                                             user_id  product_id  rating
0  AG3D6O4STAQKAY2UVGEUV46KN35Q,AHMY5CWJMMK5BJRBB...  B07JW9H4J1     4.2
1  AECPFYFQVRUWC3KGNLJIOREFP5LQ,AGYYVPDD7YG7FYNBX...  B098NS6PVG     4.0
2  AGU3BBQ2V2DDAMOAKGFAWDDQ6QHA,AESFLDV2PT363T2AQ...  B096MSW6CT     3.9
3  AEWAZDZZJLQUYVOVGBEUKSLXHQ5A,AG5HTSFRRE6NL3M5S...  B08HDJ86NZ     4.2
4  AE3Q6KSUK5P75D5HFYHCRAOLODSA,AFUGIFH5ZAFXRDSZH...  B08CF3B7N1     4.2

In [3]:
cf_df["user_code"] = cf_df["user_id"].astype("category").cat.codes
cf_df["item_code"] = cf_df["product_id"].astype("category").cat.codes

In [4]:
cf_df[["user_code", "item_code"]].head()

   user_code  item_code
0        623        346
1         88        847
2        848        818
3        254        643
4         17        588

In [5]:
from scipy.sparse import coo_matrix

interaction_matrix = coo_matrix(
    (
        cf_df["rating"],
        (cf_df["user_code"], cf_df["item_code"])
    )
)

In [6]:
interaction_matrix.shape

(1193, 1350)

In [7]:
from implicit.als import AlternatingLeastSquares

model = AlternatingLeastSquares(
    factors=50,
    regularization=0.1,
    iterations=20
)

model.fit(interaction_matrix)

c:\Users\hp\miniconda3\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
c:\Users\hp\miniconda3\Lib\site-packages\threadpoolctl.py:1226: RuntimeWarning:
Found Intel OpenMP ('libiomp') and LLVM OpenMP ('libomp') loaded at
the same time. Both libraries are known to be incompatible and this
can cause random crashes or deadlocks on Linux when loaded in the
same Python program.
Using threadpoolctl may cause crashes or deadlocks. For more
information and possible workarounds, please see
    https://github.com/joblib/threadpoolctl/blob/master/multiple_openmp.md

  warnings.warn(msg, RuntimeWarning)
c:\Users\hp\miniconda3\Lib\site-packages\implicit\cpu\als.py:95: RuntimeWarning: Intel MKL BLAS is configured to use 12 threads. It is highly recommended to disable its internal threadpool by setting the environment variable 'MKL_NUM_THREADS=1' or by callng 'threadpoolctl.threadpool_limits(1, "blas")'. Having MKL use a threadpool can lead to severe performance issues
  check_blas_config()
c:\Users\hp\miniconda3\Lib\site-packages\implicit\utils.py:164: ParameterWarning: Method expects CSR input, and was passed coo_matrix instead. Converting to CSR took 0.0005412101745605469 seconds
  warnings.warn(
100%|██████████| 20/20 [00:00<00:00, 526.89it/s]

In [9]:
import joblib
joblib.dump(
    model,
    "../../ml_service/app/models/collaborative.joblib"
)

['../../ml_service/app/models/collaborative.joblib']